{% extends 'base.html' %}

{% block content %}
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% if user.is_private and request.user.id != user.id %}
        <p>Цей профіль приватний.</p>
    {% else %}
        <div class="profile">
            <h2>Профіль</h2>
            <div class="profile-info">
                <h3>{{ user.username }}</h3>
                <p>Nickname: {{ user.nickname }}</p>
                <p>Followers: {{ user.followers.count }}</p>
                <p>Friends: {{ user.friends.count }}</p>

                <h3>Прочитані книги</h3>
                <ul>
                    {% for book in user.read_books.all %}
                        <li>{{ book.title }}</li>
                    {% empty %}
                        <li>Книги відсутні.</li>
                    {% endfor %}
                </ul>

                <h3>Підписані канали</h3>
                <ul>
                    {% for channel in user.subscribed_channels.all %}
                        <li>{{ channel.name }}</li>
                    {% empty %}
                        <li>Канали відсутні.</li>
                    {% endfor %}
                </ul>
            </div>

            {% if request.user.id == user.id %}
                <form method="post">
                    {% csrf_token %}
                    <label>
                        <input type="checkbox" name="is_private" {% if user.is_private %}checked{% endif %}>
                        Приватний профіль
                    </label>
                    <button type="submit">Зберегти</button>
                </form>

                <form action="{% url 'logout' %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn-exit">Вийти</button>
                </form>
            {% endif %}
        </div>
    {% endif %}
{% endblock %}
