<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script type="text/javascript" src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
    <script type="text/javascript" src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>
    <link rel="icon" href="{% static 'photos/favpic.png' %}" type="image/x-icon">
    <title>OnLib</title>
</head>
<body>
    <header>
        <nav>
            <div class="logo">
                <img src="{% static 'photos/headerPhoto.png' %}" width="70" height="70">
                <h2>OnLib</h2>
            </div>
            <ul class="nav-menu">
                <li><a href="#">Головна</a></li>
                <li class="dropdown">
                    <a href="#">Категорії</a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'book_list' %}">Книги</a></li>
                        <li><a href="{% url 'channel_list' %}">Канали</a></li>
                        <li><a href="{% url 'Announcment_list' %}">Оголошення</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#">Профіль</a>
                    <ul class="dropdown-menu">
                        {% if user.is_authenticated %}
                            <li><a href="{% url 'user_profile' user.username %}">Мій акаунт</a></li>
                            <li><a href="{% url 'user_settings' %}">Налаштування</a></li>
                            <li><a href="{% url 'chat_view' %}">Чати</a></li>
                        {% else %}
                            <li><a href="{% url 'login' %}">Увійти</a></li>
                            <li><a href="{% url 'register' %}">Реєстрація</a></li>
                        {% endif %}
                    </ul>
                </li>                
                <li><a href="#">Контакти</a></li>
            </ul>
        </nav>
    </header>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li class="{{ message.tags }}">{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% block content %}

    {% endblock %}
    <footer>
        &copy; 2025 Соціальна мережа для письменників. Всі права захищені.
    </footer>
</body>
</html>
